[Unit]
Description=Code Server
After=network.target
#StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=simview
ExecStart=/opt/singularity/bin/singularity run --nv -B /media --writable-tmpfs --app code /home/simview/burkhard/src/singularity-containers/bh_dev.sif

[Install]
WantedBy=multi-user.target
