[Unit]
Description=Single user Jupyter server
After=network.target
#StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=bhoecken
ExecStart=/opt/singularity/bin/singularity run --nv -B /research --app jupyter /home/bhoecken/src/singularity-containers/bh_dev.sif

[Install]
WantedBy=multi-user.target
