[Unit]
Description=MLflow tracking server
After=network.target

[Service]
Type=forking
Restart=always
RestartSec=5
User=bhoecken
PIDFile=/opt/bh_containers/mlflow.pid
ExecStart=/opt/singularity/bin/singularity instance start -B /research -B /var/lib/nginx -B /var/log/nginx -B /run/nginx --pid-file /opt/bh_containers/mlflow.pid /opt/bh_containers/bh_mlflow.sif mlflow
ExecStop=/opt/singularity/bin/singularity instance stop mlflow

[Install]
WantedBy=multi-user.target
